
.cart-wrapper{
    display: flex;
    padding: 0 7rem;
    gap: 5rem;
    flex-wrap: wrap;
    background-color: hsl(0, 0%, 98%);
}
.wrapper-content{
    width: 50%;
    height: auto;
    padding: var(--spacing-1-5);
    margin: 5rem 0;
    position: relative;
}
.wrapper-amount{
    width: 40%;
    height: auto;
    padding: var(--spacing-1-5);
    margin: 5rem 0;
    position: relative;
}
.header_title{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
}
@media (max-width: 600px) {
    .cart-wrapper{
        padding: 0 0;
    }
    .wrapper-content,.wrapper-amount{
        width: 100%;
    }
}
